---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <h1>About Me</h1>
  <p>
    I'm a freelance web developer focused on building fast, modern sites with
    Astro and React.
  </p>
</Layout>
