---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects">
  <h1>Projects</h1>
  <ul>
    <li>Project One - Example description</li>
    <li>Project Two - Example description</li>
  </ul>
</Layout>
